@page "/"

<PageTitle>About Me | Alexander</PageTitle>

<div class="home-bg">
<div class="bio-container">
    <header>
        <h1>Welcome to My Story</h1>
        <p class="tagline">I'm a student learning in CTU Daanbantayan</p>
    </header>

    <section class="about-section">
        <h2>Who Am I?</h2>
        <p>
            I am Alexander Roel P. Resula, I live in Dakit, Bogo City and I am 19 years old.
        </p>
    </section>

    <section class="skills">
        <h2>Hobbies</h2>
        <ul>
            <li>Gaming</li>
            <li>Programming</li>
        </ul>
    </section>
</div>
</div>